@import '../../styles/variables';
.slider-images::-webkit-scrollbar {
    display: none;
}


.image-slider {
    display: flex;
    align-items: center;
    position: relative;
}
  
.slider-images {
    display: flex;
    overflow-x: auto;
    border-radius: 16px;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory; 
}

.slider-images img {
    transition: opacity 0.3s ease-in-out;
}

.slider-images img.active {
    opacity: 1;
}

.prev-button {
    display: none;
    border-radius: 12px;
    padding: 12px;
    font-size: 24px;
    background: rgba($color: #f3f1f1, $alpha: 0.4);
    border: none;
    cursor: pointer;
    position: absolute;
    left: 10px;
    top:  50% - 10;
    z-index: 1000;
}

.next-button {
    display: none;
    border-radius: 12px;
    padding: 12px;
    font-size: 24px;
    background: rgba($color: #f3f1f1, $alpha: 0.4);
    border: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top:  50% - 10;
    z-index: 1000;
}

.btnPlay:hover{
    transform: scale(1.1)
}

.image-slider:hover .next-button{
    display: block;
}
.image-slider:hover .prev-button{
    display: block;
}
:export {
    textSelectedColor: $TextSelectedColor;
    BGColor: $BGColor;
    textColor: $TextColor;
    BGColorBody: $BGColorBody;
}
.tagbg{
    position: absolute;
    top:5px;
    display: block;
    filter: blur(1.5px);
    background-repeat: none;
}
.textDes{
    overflow-y: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
}