@import '../../styles/variables';

.slider{
    width: calc(100vw - 48px);
    max-width: 1260px;
    height: 330px;
    position: relative;
    overflow: hidden;
    border-radius: 16px;
}

.list{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
}

.list img{
    width: calc(100vw - 48px);
    max-width: 1260px;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.buttons{
    position: absolute;
    top: 45%;
    left: 2%;
    width: 97%;
    display: flex;
    justify-content: space-between;
}

.iconBtn{
    color: #fff;
}

.dots{
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dots li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 10px;
    border-radius: 20px;
}

.dots li.active {
    width: 20px;
}
