@import '../../styles/variables';
.icon_link{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    padding: 10px;
    background-color: rgba($color: #000000, $alpha: 0.3);
}
.dropdownDetails{
    display:none !important;
}

.dropdownLink{
    display: none !important;
    position: absolute !important;
    margin-right: 275px !important;
}

.dropdownBtn:hover > .dropdownLink{
    border-radius: 34px !important;
    height: 68px !important;
    display: flex !important;
    align-content: center;
    justify-content: center;
}

.boxsIcon{
    display: flex !important;
}
.slider{
    width: 60% !important;
}
.listDetails{
    font-size: 18px;
    font-weight: 100;
    font-style: normal;
    color: rgba(255, 255, 255, 0.7);
    
}
.leftPoster{
    display: inline !important;
}
@media only screen and (max-width:1000px){
    .dropdownDetails{
        display:flex !important; 
    }
    .boxsIcon{
        display: none !important;
    }
}
@media only screen and (max-width:550px){
    .slider{
        width: 100% !important;
    }
    .leftPoster{
        display: none !important;
    }
    .mainContent{
        margin-left: 20px;
    }
    
}
:export {
    textSelectedColor: $TextSelectedColor;
    BGColor: $BGColor;
    textColor: $TextColor;
    BGColorBody: $BGColorBody;
}