@import '../../styles/variables';
.selected{
    background-image: linear-gradient(to right, $BGColorNavItemSelected1, $BGColorNavItemSelected2);
}
.defautItem {
    color: $TextColor !important;
}

.iconLogo{
    display: inline !important;
}

.menuIcon{
    display: none !important;
}

.listItem{
    display: inline !important;
}
@media only screen and (max-width:1100px) {
    .listItem{
        display: none!important;
    }
    .leftContent{
        width: 75% !important;
    }
    .iconLogo{
        display: none!important;
    }
    .menuIcon{
        display: inline !important;
    }

}

:export {
    textSelectedColor: $TextSelectedColor;
    BGColor: $BGColor;
    textColor: $TextColor;
    BGColorBody: $BGColorBody;
}