@import '../../styles/variables';

.boxItem{
    width:50%;
    display:flex;
    justify-content:center;
    align-content:center;
    flex-wrap:wrap;
    min-width:256px;
}
.footer{
    height: 180px;
    bottom: -180;
}
@media only screen and (max-width:860px) {
    .boxItem{
        width: 100% !important;
        flex-direction: column;
        text-align: center;
        margin: 12px 0px 12px 0px;
    }
    .footer{
        height: 400px;
        bottom: -400px !important;
    }
}
:export {
    textSelectedColor: $TextSelectedColor;
    BGColor: $BGColor;
    textColor: $TextColor;
    BGColorBody: $BGColorBody;
}