@import '../../styles/variables';
$SizeMobileX:88vw;
.tag:hover{
    transform: scale(1.1)
}
.tagMobile{
    width: 200px;
}
.layOutTag{
    margin:0px 20px 20px 0px;
}
@media only screen and (max-width: 515px) {
    .tagMobile{
        width: $SizeMobileX;
    }
    .layOutTag{
        margin:0px 0px 20px 0px;
    }
}

:export {
    textSelectedColor: $TextSelectedColor;
    BGColor: $BGColor;
    textColor: $TextColor;
    BGColorBody: $BGColorBody;
    SizeMobileX:$SizeMobileX;
}