$BGColor: #212121;
$BGColorBody: rgba(18, 18, 18, 1);
$TextSelectedColor:#FC2947;
$TextColor:white;
$BGColorNavItemSelected1:rgba(255, 255, 255, 0.15);
$BGColorNavItemSelected2:rgba(255, 255, 255, 0);
